.botao{
  display: inline-block;
  color: var(--cor-p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 16px 32px;
  border-radius: 4px;
  background-image: linear-gradient(var(--cor-p1), var(--cor-p2));
  box-shadow: 0px 1px 2px rgb(0, 0, 0.1);
}

.botao:hover {
  background-image: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao{
    padding: 12px 16px;
    font-size: 1rem;
  }
}